img {
    margin: 5px;
}

#card {
    display: block;
}

#address:before {
    content: "Bitcoin address: ";
}

#mBTC:after {
    content: " m฿"
}

#EUR:after {
    content: " EUR"
}

#address-info,
form,
video,
canvas {
    display: none;
}