img {
    margin: 5px;
}

#card {
    display: block;
}

#address:before {
    content: "Cryptocurrency address: ";
}

#address-info,
#unconfirmed,
form,
video,
canvas {
    display: none;
}

#crypto-unconfirmed:before {
    content: "Incoming: ";
}